<p id="notice"><%= notice %></p>

<h1>Books</h1>
<div class="row">
    <% @books.each do |book| %>
        <div class="col-md-4" style="height: 100rem;">
            <div class="card img-thumbnail">
                <% if book.image.attached? %>
                    <%= image_tag book.image, class: "card-img" %>
                <% end %>
                <div class="card-body">
                    <h5 class="card-title"><%= book.title %></h5>
                    <p class="card-text text-muted">ページ数：<%= book.num_of_pages %></p>
                </div>
                <div class="card-body">
                    <%= button_to "詳細を見る", book, method: :get, class: "btn btn-outline-secondary btn-sm" =%>
                </div>
            </div>
        </div>
    <% end %>
</div>

<br>

<%= link_to 'New Book', new_book_path %>
